<a href="https://colab.research.google.com/github/JayellWolfe/DS-Unit-2-Sprint-2-Linear-Regression/blob/master/DS7_unit2_Polynomial_Log_linear_Regression_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intermediate Linear Regression Practice

## Use a Linear Regression model to get the lowest RMSE possible on the following dataset:

[Dataset Folder](https://github.com/ryanleeallred/datasets/tree/master/Ames%20Housing%20Data)

[Raw CSV](https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv)

## You model must include (at least):
- A log-transformed y variable
- Two polynomial features
- One interaction feature
- 10 other engineered features

What is the lowest Root-Mean-Squared Error that you are able to obtain? Share your best RMSEs in Slack!

Notes:

There may be some data cleaning that you need to do on some features of this dataset. Linear Regression will only accept numeric values and will not accept

Note* There may not be a clear candidate for an interaction term in this dataset. Include one anyway, sometimes it's a good practice for predictive modeling feature engineering in general.

In [0]:
#imports 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [18]:
url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'
ames = pd.read_csv(url)
print(ames.shape)
ames.head()

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [19]:
#identify NaNs
null_sums = ames.isnull().sum()
has_nulls = set(null_sums[null_sums > 0].index)
numeric_columns = set(ames.select_dtypes('number').columns)
categorical_columns = set(ames.select_dtypes(exclude='number').columns)

numeric_with_nulls = has_nulls & numeric_columns
categorical_with_nulls = has_nulls & categorical_columns

print(f'Categorical_with_nulls:\n{categorical_with_nulls}')
print(f'\nNumeric_with_nulls:\n{numeric_with_nulls}')

Categorical_with_nulls:
{'BsmtFinType2', 'GarageCond', 'GarageType', 'BsmtExposure', 'MiscFeature', 'Fence', 'BsmtFinType1', 'BsmtCond', 'FireplaceQu', 'GarageFinish', 'GarageQual', 'MasVnrType', 'BsmtQual', 'PoolQC', 'Alley', 'Electrical'}

Numeric_with_nulls:
{'GarageYrBlt', 'MasVnrArea', 'LotFrontage'}

In [0]:
# Fill NaNs
ames['GarageYrBlt'].fillna(ames['GarageYrBlt'].mean(), inplace=True)
ames['LotFrontage'].fillna(0, inplace=True)
ames['MasVnrArea'].fillna(0, inplace=True)

# replace NaNs with str
ames.fillna("filled", inplace=True)

In [22]:
#encode data

# seperate out the ordinal columns
ordinal_columns = ['ExterQual','ExterCond','BsmtQual','BsmtCond','BsmtExposure',
                     'HeatingQC','CentralAir','KitchenQual','FireplaceQu','GarageQual',
                     'GarageCond','PoolQC','Fence']

ames_ordinal = ames[ordinal_columns].copy()

# define each columns categories
ordinal_cats = [['Ex','Gd','TA','Fa','Po','filled'], # ExterQual
                ['Ex','Gd','TA','Fa','Po','filled'], # ExterCond
                ['Ex','Gd','TA','Fa','Po','filled'], # BsmtQual 
                ['Ex','Gd','TA','Fa','Po','filled'], # BsmtCond
                ['Gd','Av','Mn','No','filled'], # BsmtExposure
                ['Ex','Gd','TA','Fa','Po','filled'], # HeatingQC
                ['Y','N'], # CentralAir
                ['Ex','Gd','TA','Fa','Po','filled'], # KitchenQual
                ['Ex','Gd','TA','Fa','Po','filled'], # FireplaceQu
                ['Ex','Gd','TA','Fa','Po','filled'], # GarageQual
                ['Ex','Gd','TA','Fa','Po','filled'], # GarageCond
                ['Ex','Gd','TA','Fa','Po','filled'], # PoolQC
                ['GdPrv','MnPrv','GdWo','MnWw','filled']] # Fence

# fit the model 
enc = preprocessing.OrdinalEncoder(ordinal_cats)
ordinal_encoded = pd.DataFrame(enc.fit_transform(ames_ordinal),
                           columns=ames_ordinal.columns)

print(f'Shape of ordinal dataframe: {ordinal_encoded.shape}')
ordinal_encoded.head()

Shape of ordinal dataframe: (1460, 13)

   ExterQual  ExterCond  BsmtQual  ...  GarageCond  PoolQC  Fence
0        1.0        2.0       1.0  ...         2.0     5.0    4.0
1        2.0        2.0       1.0  ...         2.0     5.0    4.0
2        1.0        2.0       1.0  ...         2.0     5.0    4.0
3        2.0        2.0       2.0  ...         2.0     5.0    4.0
4        1.0        2.0       1.0  ...         2.0     5.0    4.0

[5 rows x 13 columns]

In [23]:
#one-hot

#seperate out non-ordinal 
ames_categorical = ames[list(categorical_columns - set(ordinal_columns))].copy()

# fit the model/create dataframe
enc = preprocessing.OneHotEncoder(sparse=False)
categorical_encoded = pd.DataFrame(enc.fit_transform(ames_categorical))

print(f'Shape of categorical dataframe: {categorical_encoded.shape}')
categorical_encoded.head()

Shape of categorical dataframe: (1460, 206)

   0    1    2    3    4    5    6    ...  199  200  201  202  203  204  205
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[5 rows x 206 columns]

In [24]:
#seperate out numerical columns into their own DF
numerical = ames[list(numeric_columns)].copy().drop(columns=['Id','SalePrice'])
print(f'Shape of numerical dataframe: {numerical.shape}')
numerical.head()

Shape of numerical dataframe: (1460, 36)

   KitchenAbvGr  GarageYrBlt  PoolArea  ...  WoodDeckSF  BsmtUnfSF  BsmtFullBath
0             1       2003.0         0  ...           0        150             1
1             1       1976.0         0  ...         298        284             0
2             1       2001.0         0  ...           0        434             1
3             1       1998.0         0  ...           0        540             1
4             1       2000.0         0  ...         192        490             1

[5 rows x 36 columns]

In [25]:
#create single DF w/ all variables used
ames_all = pd.concat([numerical, ordinal_encoded, categorical_encoded], axis=1)
print(f'Shape of final dataframe: {ames_all.shape}')

#include dependant variable, 2 forms 
price = ames['SalePrice']
price_log = np.log(ames['SalePrice'])

Shape of final dataframe: (1460, 255)

In [0]:
#start regression 
def regress_df(X, y, test_size=0.5):
    """
    Runs a linear regression and prints out stats
    
    X: array of variables
    y: array of results
    test_size: parameter for train_test_split
    """
    # Slit into test and train datasets
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=.5, random_state=42)

    # fit model using train datasets
    model = LinearRegression()
    model.fit(X_train, Y_train)

    # Create new predictions using x_test
    y_pred = model.predict(X_test)

    # Measure Accuracy using y_test and y_pred
    RMSE = (np.sqrt(mean_squared_error(Y_test, y_pred)))
    R2 = r2_score(Y_test, y_pred)

    print('RMSE is {}'.format(RMSE))
    print('R^2 is {}'.format(R2))

    print("Coefficients: ", model.coef_[0])
    print("Intercepts: ", model.intercept_)

In [35]:
# Regressing to the ordinal variables = works
y = price_log
X = ordinal_encoded

regress_df(X, y)

RMSE is 0.2218395471940883
R^2 is 0.7048816026437641
Coefficients:  -0.13602501293892702
Intercepts:  12.804623573611803

In [36]:
# regress to numericals = works
y = price_log
X = numerical
regress_df(X, y)

RMSE is 0.15403676629806864
R^2 is 0.8577123753513348
Coefficients:  -0.040110863405415434
Intercepts:  16.669220623314878

In [37]:
#regress to one -hot cats = does not work !
y = price_log
X = categorical_encoded
regress_this(X, y)

RMSE is 184741191842.7759
R^2 is -2.046660584360335e+23
Coefficients:  1550921469.2032022
Intercepts:  -200346515915.94144

In [0]:
# This handy function courtesy of Carlos Gutierrez.
def dummyEncode(df):
    columnsToEncode = list(df.select_dtypes(include=['category','object']))
    le = preprocessing.LabelEncoder()
    for feature in columnsToEncode:
        try:
            df[feature] = le.fit_transform(df[feature])
        except:
            print('Error encoding '+feature)
    return df

In [39]:
# Categoricals are now encoded as just regular numbers
new_cats = dummyEncode(ames_categorical)
new_cats.head()

   Heating  LotShape  GarageType  ...  HouseStyle  BsmtFinType1  Alley
0        1         3           1  ...           5             2      2
1        1         3           1  ...           2             0      2
2        1         0           1  ...           5             2      2
3        1         0           5  ...           5             0      2
4        1         0           1  ...           5             2      2

[5 rows x 30 columns]

In [40]:
#regress one -hot encoders = problem is fixed!
y = price_log
X = new_cats
regress_this(X, y)

RMSE is 0.2772667338090562
R^2 is 0.5389862522878118
Coefficients:  -0.030160229436939787
Intercepts:  11.129945482501785

In [41]:
# combining all data = best results ! 
ames_all = pd.concat([numerical, ordinal_encoded, new_cats], axis=1)

y = price_log
X = ames_all
regress_this(X, y)

RMSE is 0.15612760308017828
R^2 is 0.8538234430655984
Coefficients:  -0.005352512641609569
Intercepts:  17.842285103915273

# Stretch Goals

- Write a blog post explaining one of today's topics.
- Find a new regression dataset from the UCI machine learning repository and use it to test out your new modeling skillz.
 [ - UCI Machine Learning Repository - Regression Datasets](https://)
- Make a list for yourself of common feature engineering techniques. Browse Kaggle kernels to learn more methods.
- Start studying for tomorrow's topic: Gradient Descent
- Try and make the ultimate model with this dataset. clean as many features as possible, engineer the most sensible features as possible and see how accurate of a prediction you can make. 
- Learn about the "Dummy Variable Trap" and how it applies to linear regression modeling.
- Learning about using linear regression to model time series data